<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    hello world

    <!-- <button id="myButton"> Submit </button> -->


    <form action="/" method="POST">
        <input name="email" type="text" placeholder="email address">
        <input name="isValid" type="checkbox">
        <input name="isTrue" type="radio">
        <input name="password" type="password">
        <input type="submit" value="Submit">
    </form>
    <script src="/js/script.js"></script>
</body>

</html>